// Colors

$warning: #dc3545;
$primary: #007bff;

html,
body {
  height: 100%;
  position: relative;
}

#wrapper {
  min-height: 100%;
  position: relative;
  transition: all 0.2s;
}

main.container {
  padding-bottom: 140px;
}

.we-card-form {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.we-container-results {
  display: none;
  max-width: 960px;
  .we-details {
    list-style: none;
    .we-forecast-period {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
    span {
    }
    .we-forecast-date {
      border-bottom: 1px solid #ddd;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
      &-specific {
        float: right;
        color: #ccc;
      }
    }
    .we-forecast-temp {
      display: inline-block;
      height: 100%;
      font-size: 3.5em;
      color: $warning;
      margin-right: 1rem;
    }
    .we-forecast-temp-morning {
      color: $primary;
    }
    .we-forecast-icon {
      margin-left: 1rem;
    }
  }
  .we-btn-load {
    margin: 1rem auto;
    display: inline-block;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 85px;
}
