html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family:Avenir, Helvetica,sans-serif;
  font-size:16px;
  line-height:140%;
  color:#333;
}

h1 {
  margin:0;
  padding: 3em 0 2em;
  text-align:center;
  background:#ccc;
  margin-bottom:2em;
}

#container {
  width:600px;
  margin:0 auto;
}

#container div div {
  padding:.5em 1em;
  background:#ccc;
  display:inline-block;
  margin:.25em;
}

#container div div:hover {
  background:#333;
  color:#fff;
  cursor:pointer;
}

#container #numbers, #container #operators {
  width:200px;
  text-align:center;
  margin:0 auto;
}

#container #operators {
  width:250px;
  margin:2em auto;
}

#container #output {
  background:#eee;
  width:400px;
  padding:.5em 1em;
  border:2px solid #ccc;
  margin:0 auto;

}
