/*
Todos:
() Implement SASS
*/

body {
  height: 100%;
  font-family: 'Roboto Slab', serif;
  background-color: #000;
  background: linear-gradient(rgba(55, 71, 79, 0.5), black),
    url('blurred.jpg') no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  color: #263238;
  padding-bottom: 5rem;
}

.dbj-container {
  max-width: 800px;
}

.dbj-list .disabled .dbj-task-text {
  color: #b0bec5;
  text-decoration: line-through;
}

.dbj-list .dbj-item .dbj-task-text::before {
  font-size: 1.5rem;
  padding-right: 1em;
  width: 2em;
  display: inline-block;
  height: 100%;
}

.dbj-manage {
  position: absolute;
  right: 1em;
  top: 0.7em;
}

.dbj-list .dbj-item .dbj-task-text {
  transition: all 0.5s;
}
.dbj-list .dbj-task .dbj-task-text::before {
  content: '\2022 ';
}

.dbj-list .dbj-event .dbj-task-text::before {
  content: '\00bb ';
}

.dbj-list .dbj-note .dbj-task-text::before {
  content: '\2013 ';
}

.dbj-list li {
  position: relative;
  cursor: pointer;
}

.dbj-manage .btn {
  font-size: 1.25em;
  padding: 0.15em 0.5em;
}

.dbj-item .dbj-task-text {
  padding-top: 0.2rem;
  font-size: 1.2rem;
}

.dbj-btn-edit::before {
  content: '\f040';
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
}
.dbj-list-label {
  transition: all 0.2s ease-in-out;
}

.dbj-list-label:hover {
  background: #f9fbe7;
}

.dbj-btn-done::before {
  content: '\f00c';
  font-family: 'FontAwesome';
}

.disabled .dbj-btn-done::before {
  content: '\f0e2';
}

.dbj-btn-delete::before {
  content: '\f014';
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
}

.dbj-btn-clear::before {
  content: '\f1f8';
  font-family: 'FontAwesome';
  padding-right: 0.5em;
}

.dbj-btn-clear:hover {
  background: #d32f2f;
  border-color: #d32f2f;
}

.dbj-btn-add::before {
  content: '\f067';
  font-family: 'FontAwesome';
  padding-right: 0.5em;
}

.dbj-btn-update::before {
  content: '\f093';
  font-family: 'FontAwesome';
  padding-right: 0.5em;
}

.dbj-list .dbj-item .dbj-manage {
  opacity: 0;
  transition: all 0.2s;
  visibility: hidden;
}
.dbj-container .card {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
}

.dbj-list .dbj-item {
}

.dbj-list .dbj-item:hover .dbj-manage {
  opacity: 1;
  visibility: visible;
}

.jumbotron {
  background: none;
  background-color: rgba(38, 50, 56, 0.6);
  color: #fff;
  text-align: center;
  padding-bottom: 2.5rem;
  text-shadow: 2px 2px 25px rgba(0, 0, 0, 0.8);
}

.jumbotron h1,
.dbj-container h2,
.dbj-container h3 {
  font-family: 'Roboto';
  font-weight: 300;
}

.jumbotron .lead::after {
  content: '\f246';
  font-family: FontAwesome;
  opacity: 0.3;
  padding-left: 0.25em;
}

.dbj-container h2,
.dbj-container h3 {
  font-weight: 400;
}

.dbj-container h2 {
}

.dbj-container h3 {
  font-size: 1.5rem;
}

.dbj-msg-empty {
  border: 1px dotted #cfd8dc;
}

.dbj-add-message {
  display: none;
  opacity: 0;
  transition: all 1s;
}

.dbj-footer {
  text-align: center;
}

.dbj-footer a {
  color: #455a64;
  text-decoration: none;
  font-size: 3rem;
}

.highlight {
  animation: highlight 0.75s ease-in-out;
}

@keyframes highlight {
  from {
    background: #f0f4c3;
    transform: scale(1.01);
  }
  to {
    background: transparent;
    transform: scale(1);
  }
}
