// Colors
$primary-dark: #1a237e;
$primary: #673ab7;
$primary-light: #7e57c2;
$accent: #cddc39;
$accent-dark: #33691e;
$accent-light: #eeff41;
$neutral-dark: #263238;
$neutral: #757575;
$neutral-light: #bdbdbd;
$error: #e91e63;
$success: #8bc34a;
// Fonts
$font-headings: 'Roboto Slab';
$font-icons: 'FontAwesome';

body {
  background-image: linear-gradient(to bottom, $neutral-dark 50%, #000);
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 5rem;
}

.btn {
  background: $accent;
  border: 0;
  box-shadow: inset 0 0 2rem #eeff41;
  color: $accent-dark;
  font-family: $font-headings;
  font-weight: 400;
  text-shadow: 0px 0px 1rem #f4ff81;
  &:hover {
    background: $accent-light;
    color: $accent-dark;
  }
}
.ng-header {
  background: rgba($primary, 0.8);
  color: white;
  border-bottom: 2px solid $primary-light;
  box-shadow: 0px 0px 3rem rgba(0, 0, 0, 0.5);
  padding: 3rem 2em 2em;
  .ng-title {
    margin-bottom: 2rem;
    font-family: $font-headings;
    font-weight: 300;
    text-shadow: 0px 0px 2rem $primary-dark;
    font-size: 3rem;
  }
  .ng-msg-form {
    display: none;
    margin: 0 auto;
    color: white;
    border: 0;
    box-shadow: 0px 0px 1rem $primary-dark;
    max-width: 600px;
    p {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    &.alert-danger {
      background: rgba($error, 0.7);
    }
    &.alert-success {
      background: rgba($success, 0.7);
      width: 400px;
    }
    &.alert-info,
    &.alert-light {
      background: rgba(lighten($primary-light, 10%), 0.5);
    }
  }
  .ng-game-settings {
    background: rgba($primary-light, 0.8);
    border-radius: 0.5rem;
    max-width: 650px;
    margin: 0 auto;
    padding: 1rem 2rem 1.5rem;
    box-shadow: 0px 0px 2rem $primary-dark;
    border: 2px solid lighten($primary-light, 2%);
    margin-top: 1rem;

    &-form {
    }
    .ng-btn-start {
      background: $accent;
      color: $accent-dark;
      font-size: 1.15rem;
      &:hover {
        background: $accent-light;
      }
    }
    .lead {
      font-family: $font-headings;
      text-shadow: 0px 0px 1rem $primary-dark;
    }
  }
}

.ng-container {
  border: 3px dashed darken($neutral, 15%);
  padding: 1em;
  margin: 1em auto;
  max-width: 500px;
  border-radius: 0.5rem;
  .ng-form-guess {
    .ng-text-guess {
      font-size: 4rem;
      height: 6rem;
      width: 9rem;
      border-radius: 0.5rem;
      margin-top: 2rem;
      border: 0;
      padding: 0.5rem;
      text-align: center;
      margin-right: 1rem;
    }
    .ng-btn-guess {
      width: 6.5rem;
      height: 6.5rem;
      border-radius: 50%;
      position: relative;
      top: -1.2rem;
      font-size: 1.5rem;
      z-index: 10;

      &::before {
        content: '\f00c';
        font-family: $font-icons;
        position: absolute;
        left: 5px;
        top: 5px;
        opacity: 0.7;
        font-size: 5.5rem;
        line-height: 6rem;
        color: darken($accent, 5%);

        z-index: -1;
      }
      &:hover {
        box-shadow: 0px 0px 1rem $accent-light;
        text-shadow: none;
      }
    }
  }
  .ng-msg-game {
    margin: 0 auto;
    padding: 1rem;
    color: white;
    border: 0;

    &.alert-info {
      background: none;
      padding: 0;
    }
    &.alert-warning {
      background: rgba($error, 0.5);
    }
    &.ng-msg-empty {
      color: $neutral;
    }
    .ng-btn-replay {
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
      position: relative;
      font-size: 1.75rem;
      line-height: 1.2;
      z-index: 10;
      text-align: center;
      &::before {
        content: '\f01e';
        font-family: $font-icons;
        position: absolute;
        left: 10%;
        top: 18%;
        font-size: 7.75rem;
        line-height: 6rem;
        color: darken($accent, 5%);
        z-index: -1;
      }
    }
  }
}
