body {
  background: #00695c;
}

.jumbotron {
  background: #004d40;
  color: #fff;
}

.wheel-game-puzzle {
  background: teal;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 2rem;
  text-align: center;
  border: 2px solid white;

  .wheel-puzzle-category {
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 1px solid #fff;
    margin: 2rem auto 0;
    width: 50%;
  }

  .wheel-puzzle-text {
    font-size: 2rem;
    letter-spacing: 2px;

    .word {
      display: inline-block;
      margin-right: 2rem;
      span {
        display: inline-block;
        width: 3.5rem;
        background: white;
        color: black;
        padding: 0.25rem 0.5rem;
        border: 3px solid tan;
        margin-bottom: 0.5rem;
        margin-right: 0.25rem;

        &.letter {
        }

        &.space {
          color: transparent;
          background: transparent;
          border: none;
        }
        &.masked {
          color: white;
        }
      }
    }
  }
}

.wheel-game {
  text-align: center;
  .wheel-game-bank {
    background: #ccc;
    padding: 1rem;
  }
  .wheel-game-status {
    background: #ccc;
    padding: 1rem;
  }

  &-turn-options {
    background: #ddd;
    padding: 1rem;
  }
  &-input {
    background: #ddd;
    padding: 1rem;
  }

  &-wheel {
  }

  button[class*='wheel-btn'] {
    background: white;
  }
}

.wheel-modal {
  //display: block;
  background: rgba(black, 0.5);
  .wheel-game-wheel {
    transition: all 5s;
  }

  .wheel-wheel-triangle {
    font-size: 4rem;
    position: absolute;
    left: calc(50% - 15px);
    z-index: 1500;
    top: -40px;
  }
  .modal-content {
    top: 2rem;
    width: 50%;
    margin: 0 auto;
    max-height: 650px;
  }
  .wheel-img {
    transition: all 5s;
    transform: rotate(0deg);
    max-height: 600px;
  }
}

#wheel-container {
  position: relative;
  max-width: 500px;
  max-height: 500px;

  #wheel {
    width: 100%;
    height: 100%;
    background: url(../img/wheel.svg) no-repeat;
    background-size: contain;
    transition: all 5s;
    transform: rotate(0deg);
    position: relative;
    z-index: 1;
  }

  #triangle {
    position: absolute;
    color: #666;
    font-size: 3rem;
    top: -4%;
    left: calc(50% - 15px);
    width: 10px;
    height: 10px;
    z-index: 999;
    text-shadow: 0px 3px 0px #ffffff;
  }
}
